<div class="project-tree-scroller">
  <div class="project-tree panel-group" id="project-tree" role="tablist" aria-multiselectable="true">
    {{#each projects}}
      <div class="panel panel-default">

        <div class="panel-heading" role="tab" id="project-tree-heading-{{id}}">
          <div class="panel-title">

            <a data-toggle="collapse" data-parent="#project-tree" aria-expanded="false"
                data-rge-entity="{{entityName}}" data-rge-id="{{id}}" class="project-link"
                href="#project-tree-{{id}}" aria-controls="project-tree-{{id}}">
                {{default name "*unnamed*"}}
            </a>

            {{> resourceMenu entityName="Project" }}

          </div>
        </div>

        <div id="project-tree-{{id}}"
            class="panel-collapse collapse" role="tabpanel"
            aria-labelledby="project-tree-heading-{{id}}">
          <div class="panel-body">

            <ul>
              {{#each resources}}
                <li class="resource">
                  <a href="#" data-rge-entity="{{entityName}}" data-rge-id="{{id}}" class="resource-link">
                    {{default name "*unnamed*"}}
                  </a>

                  {{> resourceMenu entityName=entityName }}
                </li>
              {{/each}}
            </ul>

          </div>
        </div>

      </div>
    {{/each}}
  </div>

</div>
