<div class="project-tree-scroller">
  <nav class="project-tree sidebar-nav">
    <ul>
      {{#each projects}}
        <li>
          <a href="#" data-rge-entity="{{entityName}}" data-rge-id="{{id}}">
            <span class="sidebar-nav-item">{{default name "*unnamed*"}}</span>
            <span class="fa arrow"></span>
          </a>
          <ul>
            {{#each resources}}
              <li>
                <a href="#" data-rge-entity="{{entityName}}" data-rge-id="{{id}}">
                  {{default name "*unnamed*"}}
                </a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
