<div class="project-tree-scroller">
  <nav class="project-tree sidebar-nav">
    <ul>
      {{#each projects}}
        <li class="resource">
          <a href="#" data-rge-entity="{{entityName}}" data-rge-id="{{id}}" class="project-link">
            <span class="sidebar-nav-item">{{default name "*unnamed*"}}</span>
          </a>

          {{> resourceMenu }}

          <ul>
            {{#each resources}}
              <li class="resource">
                <a href="#" data-rge-entity="{{entityName}}" data-rge-id="{{id}}" class="resource-link">
                  {{default name "*unnamed*"}}
                </a>

                {{> resourceMenu }}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
